* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
  /* background-color: #282829; */
}

.navbar {
  background-color: #282829;
  color: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
 
  /* justify-content: center; Centers items horizontally */
  align-items: center;
  box-shadow: 0 4px 10px rgba(212, 24, 196, 0.6);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #8a178e;
}
.aboutMe{
  color: #ede9ed;
  text-align: left;
  padding: 30px;
  display: inline-block; 
 box-shadow: rgba(253, 3, 228, 0.45) 0px 25px 20px -20px;
  
}
.about{
  color:#ede9ed ;
  padding: 55px;
}
body {
  background: #0f0f10;
  font-family: Arial, sans-serif;
  color: #fff;
}

.services {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
}

.services h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}


.card {
  background: linear-gradient(145deg, #1a1a1c, #121214);
  border-radius: 18px;
  padding: 25px;
  display: flex;
  gap: 18px;
  align-items: flex-start;
  box-shadow: inset 0 0 0 1px #1f1f22,
              0 10px 30px rgba(0,0,0,0.6);
}

/* .card.active {
  box-shadow: inset 0 0 0 1px #f5c842,
              0 15px 40px rgba(245,200,66,0.15);
} */

.icon {
  font-size: 30px;
  color: #f5c842;
}

.card h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.card p {
  color: #cfcfcf;
  font-size: 14px;
  line-height: 1.5;
}

/* .card {
  border: 1.5px solid #8a178e;
} */
.card:hover{
  border: 1px solid #8a178e;
  box-shadow: 0 10px 30px rgba(138, 23, 142, 0.25);
}


