* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 152, 152);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORCE THE WIDTH */
.game {
    width: calc(18vmin * 3 + 1.5vmin * 2);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

/* FORCE EACH BOX SIZE */
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: white;
    color: rgb(186, 7, 66);
    border: none;
}

.hide {
    display: none;
}

.reset {
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
